footer {
    margin-top: auto;
  }
  
  .footer {
    padding-top: 5%;
    padding-bottom: 2%;
  
    @media screen and (max-width: 720px) {
      padding-bottom: 5%;
    }
  }
  
  .text_footer {
    padding-top: 3%;
  }